*{
    margin: 0px;
    padding: 6px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: white;
}
.menu-bar {
    padding-left: 83%;
    position: fixed;
    text-decoration: none;
    top: 2%;
}
.menu-bar ul {
  list-style: none;
  display: flex;
}
.menu-bar ul li {
  padding: 10px 19px;
  position: relative;
}
.menu-bar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 0.3s;
}
.menu-bar ul li a:hover {
  color: rgb(255, 85, 0);
}
.guide{
    width: 36%;
    margin-top: -42%;
    padding-left: 4%;
    padding-bottom: 22%;
    line-height: 36px;
}
.down{
  color: rgb(0, 0, 0);
  padding-top: 1%;
  font-size: 11px;
  font-weight: bold;
}
img{
    padding-left: 38%;
    padding-top: 9%;
    
}