* {
    text-decoration: none;
    color: black;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.pkchs{
    color: rgb(0, 0, 0);
  padding-top: 17%;
  padding-left: 3%;
  font-size: 133px;
  font-family: sans-serif;
  font-weight: 600;
  position: fixed;
}

.pkchs a:hover{
    color: rgb(255, 115, 0);
    letter-spacing: 10px;
    transition: 1s;

}
.by{
    padding-left: 17%;
    margin-top: 12%;
}
.by2{
    padding-left: 30%;
    margin-top: 12%;
}
.all{
    padding-left: 40%;
}
.images{
    margin-top: -1%;
}
img{
    margin-top: -12%;
    padding-left: 12%;
    filter: grayscale(200%);
}
img:hover {
    filter: grayscale(0%);
    width: 50%;
    padding-left: 15%;
    transition: 1s;
}

.rights{
    padding-left: 81%;
    padding-top: 6%;
    font-size: x-small;
    font-weight: 700;
}